week01_intro/Library/
week01_intro/Builds/
*.csproj
*.userprefs
*.sln
week02_vectorinput/Library/
week03_physics/Library/

week04_physicsCode/Library/

week05_gamearchitecture/Library/

week05_gamearchitecture/Temp/

week07_optimization/

week08_instantiation/Library/

week08_instantiation/Temp/

week11_animation/Library/

week13_gamefeel/Library/

week13_gamefeel/Temp/
